.App {
  text-align: center;
  background: #000;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.namo {
  padding: 5px 20px;
  background-color: gray;
  height: 400px;
  width: 500px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}
.info {
 size: 40px;
}
.namo fieldset {
  margin: 20px 0;
}
.namo h1{
  color: goldenrod;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
